<h2><%=@group.name%> details - Total amount = <%=@group.all_cakes %></h2>

<br>
<img src="<%=@group.icon%>" alt=""><br>
<p>Group is created: <%=@group.created_at%></p><br>
<hr>
<%@group.cakes.uniq.each do |cake|%>
<p>Cake name: <%= cake.name%></p>
<p>Author name: <%= cake.author.name%></p>
<hr>
<% end %>

<%=link_to "Back" , groups_path%>