<header class="">
    <div class="links d-flex justify-content-between p-3">
        <%= link_to user_path(id: current_user.id), class: 'fs-1' do %>
        <i class="fas fa-bars"></i>
    <% end %>
    <h1 > ALL USERS </h1>
    <a  class= "fs-1"><i class="fas fa-search"></i></a>
    </div>
    
</header>
<section class="all-cakes">
    <div class=" p-3 total d-flex justify-content-between bg-light align-items-center mb-2">
        <h3>Number of registered users</h3>
        <p class= "m-0 p-1 fs-4 fw-bold"><%= @users.count %></p>
    </div>
    <div class= "users cakes">
        <% @users.each do |user|%>
    <div class="cake bg-light m-2 d-flex">
        <div class="group-icon p-2">
            <img class= "rounded" height="100px" width="100px" src="<%= user.avatar%>" alt="Uncategorized item">  
        </div>
        <div class="info w-100 p-3 d-flex flex-column justify-content-between">
            <div class="base d-flex justify-content-between" >
            <p><%= link_to user.name, user_path(id: user.id), class: "fs-4"%></p>
            </div>
            <div class="date pt-1 border-top border-light-grey"">
                <p class="m-0">Registered on: <%= user.created_at.strftime("%d/%m/%Y")%></p>
            </div>
        </div>
    </div>
<% end %>
    </div>

</section>
