
<div class="user-img mx-auto text-center">
  <img width="100px" class="rounded-circle img-thumbnail" src="<%= @user.avatar%>" alt="">
  <h3><%= @user.name %></h3>
</div>
<div class= "user-links">
  <ul>
    <li class= "my-2 fs-6"><i class="fas fa-stroopwafel border p-2 rounded-circle"></i> <%=link_to "My cakes", cakes_path, class: "ms-2 pb-2 "%></li>
     <hr class= "ms-5">
    <li class= "my-2 fs-6"><i class="fas fa-outdent border p-2 rounded-circle"></i> <%=link_to "My uncategorized cakes", external_path, class: "ms-2 pb-2 "  %></li>
    <hr class= "ms-5">
    <li class= "my-2 fs-6"><i class="far fa-object-group border p-2 rounded-circle"></i> <%= link_to "Cake categories", groups_path, class: "ms-2 pb-2 "%></li>
    <hr class= "ms-5">
    <li class= "my-2 fs-6"><i class="fas fa-user-edit border p-2 rounded-circle"></i></i> <%= link_to 'Edit user', edit_user_path(@user), class: "ms-2 pb-2 " %></li>
    <hr class= "ms-5">
    <li class= "my-2 fs-6"><i class="fas fa-sign-out-alt border p-2 rounded-circle"></i> <%= link_to 'Logout', logout_path, class: "ms-2 pb-2 " %></li>
  </ul>
</div>