<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %><br>
  <img src="<%= @user.avatar%>" alt="">
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Logout', logout_path %>
