<!DOCTYPE html>
<html>
  <head>
    <title>GroupOurCakes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="og:title" content= "Group our cakes app">
    <meta name="og:description" content="Application for grouping Cakes in different Categories">
    <meta property="og:image" content="screen_shoots/Preview.png">
    <link rel='icon' href="screen_shoots/Preview.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- Add font  -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet"> 
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/6abfc73bc9.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%if notice%>
      <p class= "text-success fs-4 p-2 bg-light m-0" id="notice"><%= notice %></p>
      <% elsif alert %>
        <p class= "text-danger fs-4 p-2 bg-light m-0" id="alert"><%= alert %></p>
      <% end %>
      <%= yield %>
   
  </body>
</html>
