<!DOCTYPE html>
<html>
  <head>
    <title>GroupOurCakes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user%>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><%= current_user.name if current_user %></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <%=link_to "My cakes", root_path, class: "nav-link active"%>
              <%# <a class="nav-link active" aria-current="page" href="#">My Cakes</a> %>
            </li>
            <li class="nav-item">
              <%#link_to "My uncategorized cakes", %>
              <a class="nav-link" href="#">My ungrouped Cakes</a>
            </li>
            <li class="nav-item">
              <%= link_to "Cake categories", groups_path, class: "nav-link"%>
              <%# <a class="nav-link" href="#">My Groups</a> %>
            </li>
            
          </ul>
        </div>
      </div>
    </nav>
    <% else %>
    <div class = "ms-auto w-25">
    <%# <%=link_to "Sign up", new_user_path%>
    <h5 class= "d-inline " >Already have an acount</h5>
    <%=link_to "Login", new_session_path%>
    </div>
<% end %>
    <%= yield %>

     <% if current_user%>
     <h3 class = "ms-auto w-25"><%=link_to "Logout", logout_path%></h3>
     <% end %>
  </body>
</html>
